<%- include("partials/header") -%>
<section id="Landing">
    <!-- landing div -->
    <div class="main-div">
        <!-- featured blog section -->
        <h1 class="featured mt-5">Your Message is Sent!</h1>
        <h2 class="featured mt-5">Thank you! For contacting us!</h2>
        </div>
</section>
<%- include("partials/footer") -%>