/* Navbar */
#Navbar {
    margin: 0.5% 7%;
    font-family: 'Bree Serif', monospace;
    font-size: 2vh;
}

.navbar-brand {
    font-family: 'Tilt Prism', monospace;
    font-size: 2rem !important;
    font-weight: 900;
}

.navbar-brand:hover {
    color: rgb(133, 133, 133) !important;
}

.searchbtn {
    color: black;
}

.searchbtn:hover {
    color: none;
}

.searchbtn:active {
    color: #3e8e41;
    transform: translateY(4px);
}

.submitbtn,
.searchInputBar {
    border-radius: 50px !important;
}

/* Navbar ends */

/* Footer Section */

* {
    box-sizing: border-box;
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
}

/* force scrollbar */
html {
    overflow-y: scroll;
}

body {
    background: #b7b7b7 none repeat scroll 0 0;
    font-family: 'Open Sans', sans-serif;
}


ul {
    padding: 0;
}

.navbar-brand-footer {
    font-family: 'Tilt Prism', monospace;
    text-decoration: none;
    font-size: 1.5rem !important;
    color: white;
    margin-right: 10rem !important;
    font-weight: 900;
}

footer {
    background-color: #424242;
}

.footer-wrapper {
    padding: 100px 0;
}

.footer-text {
    font-family: 'Open Sans', monospace;
    color: #dcdcdc;
    font-size: 14px;
    margin: 40px 0 0;
}

footer .footer-heading {
    font-family: 'Pacifico', monospace;
    color: #e1e1e1;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.copyright {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

/* footer ends */

/* Landing Section */
#Landing {
    margin: 0.5% 7%;
}

.featured {
    /* font-family: 'Pacifico', monospace; */
    font-family: 'Bree Serif';
    font-weight: 400;
}

.featured-container {
    height: 40rem;
    width: 100%;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.main-img {
    position: relative;
    height: 70rem;
    top: -450px;
    border-radius: 50px;
}

.landing-h1 {
    margin-top: 1%;
    padding-bottom: 2vh;
    font-size: 2rem;
}

.landing-p {
    font-family: 'Open Sans', monospace;
    font-size: 1rem;
}

.blog-title {
    width: 100%;
    font-family: 'Bree Serif', monospace;
    background: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5% 3%;
    position: absolute;
    bottom: 0px;
    font-weight: 400;
    z-index: 1;
    color: white;
    opacity: 1;
}

/* Landing Section ends */

/* Posts Section */
#posts {
    margin: 0.5% 7% !important;
}

/* Poests Section ends */

/* about page */
.featured-container-about {
    height: 40rem !important;
    width: 40% !important;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.about-p {
    width: 100% !important;
    overflow: hidden !important;
    display: inline-block;
    position: relative;
    bottom: -5.5rem;
    left: 1.8rem;
    word-break: keep-all;
}

.main-img-about {
    position: relative;
    height: 70rem;
    top: -244px;
    border-radius: 50px;
    left: -246px;
    bottom: 251px;
    right: 246px;
}

.blog-title-about {
    width: 100%;
    font-family: 'Pacifico', monospace;
    background: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5% 3%;
    position: absolute;
    bottom: 0px;
    font-weight: 400;
    z-index: 1;
    color: white;
    opacity: 1;
    right: 0px;
}

/* about page ends */

/* media query */

@media (max-width: 1919px) {
    .main-img {
        position: relative;
        height: 51rem;
        top: -142px;
        border-radius: 50px;
        left: -175px;
        right: 0;
    }

    .main-img-about {
        position: relative;
        height: 57rem !important;
        top: -142px !important;
        border-radius: 50px;
        left: -124px;
        right: 0;
    }

    .navbar-brand-footer {
        margin-right: 3rem !important;
    }

    .featured-container-about {
        height: 40rem !important;
        width: 100% !important;
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        display: inline-block;
    }

    .about-p {
        justify-content: space-between;
        width: 96% !important;
        overflow: hidden !important;
        display: inline-block;
        position: relative;
        bottom: -2.5rem;
        left: 0.8rem;
        word-break: keep-all;
    }
}

@media (max-width:571px) {
    .main-img {
        position: relative;
        height: 51rem;
        top: -142px;
        border-radius: 50px;
        left: -175px;
        right: 0;
    }

    .main-img-about {
        position: relative;
        height: 51rem !important;
        top: -142px !important;
        border-radius: 50px;
        left: -175px;
        right: 0;
    }

    .navbar-brand-footer {
        margin-right: 3rem !important;
    }

    .featured-container-about {
        height: 40rem !important;
        width: 100% !important;
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        display: inline-block;
    }

    .about-p {
        width: 90% !important;
        overflow: hidden !important;
        display: inline-block;
        position: relative;
        bottom: -2.5rem;
        left: 0.8rem;
        word-break: keep-all;
    }

    .main-img-about {
        /* position: relative; */
        height: 70rem;
        top: -200px;
        border-radius: 50px;
    }
}

@media (max-width:375px) {
    .main-img {
        position: relative;
        height: 50rem;
        top: -142px;
        border-radius: 50px;
        left: -230px;
        right: 0;
    }

    .main-img-about {
        position: relative;
        height: 51rem !important;
        top: -142px !important;
        border-radius: 50px;
        left: -235px;
        right: 0;
    }

    .navbar-brand-footer {
        margin-right: 3rem !important;
    }

    .featured-container-about {
        height: 40rem !important;
        width: 100% !important;
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        display: inline-block;
    }

    .about-p {
        width: 84% !important;
        overflow: hidden !important;
        display: inline-block;
        position: relative;
        bottom: -2.5rem;
        left: 0.8rem;
        word-break: keep-all;
    }

}
